name: CI/CD Pipeline

on:
  push:
    branches: [main]
    tags:
        - 'v*'
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9, 3.10, 3,11]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
        python-verson: ${{ matrix.python-version }}

      - name: Build package
        runs: |
          python -m pip install --upgrade pip
          pip install build
          python -m build

      - name: Run tests
        run: |
          pip install pytest
          pytest

